
tr:nth-child(even)
{
  background-color:rgb(240, 229, 229)}
table{
  width:50%;
  background-color:rgb(238, 197, 197)
}
.header {
  text-align: center;
}
.box_shw2 {
  box-shadow: rgba(0, 0, 0, 0.12) 0 0 25px;
}

.f_12_14 {
  font-size: 12px;
  line-height: 14px !important;
}

.f_20_22 {
  font-size: 20px;
  line-height: 22px !important;
}

.bg_grey {
  background-color: #f1f1f1 !important;
}

.w_500 {
  width: 500px;
  max-width: 100%;
}
